<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class = "row">
	<div class = "col-md-6 col-sm-offset-3" id = "carousel">

 <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

   <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "table1.jpg", alt: "table1", width: 500 %>
    </div>

    <div class="item">
      <%= image_tag "table2.jpg", alt: "table2", width: 500 %>
    </div>

    <div class="item">
      <%= image_tag "table3.jpg", alt: "table3", width: 500, height: 500%>
    </div>

    <div class="item">
      <%= image_tag "table4.jpg", alt: "table4", width: 500 %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<div class = "col-md-4" id = "viewInv">
	<h4>View Inventory</h4>
</div>

<div class = "col-md-4" id = "reservation">
	<h4>Make Reservation</h4>
</div>

<div class = "col-md-4" id = "faq">
	<h4>FAQ</h4>	
</div>

<center><p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p></center>